@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 2% 0auto;
    background-color: #0D112B;
    color: rgb(138, 138, 16);
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    max-width: 600px;

}
.inner-body-wrapper {
    width: 100%;
    max-width: 600px;
    background-color: black;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    padding-top: 30px;
}
.title-container > h1{
    width: 100%;
    max-width: 600px;
    color: rgb(59, 175, 59);
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
}


.title-container > h2{
    color: red;
}
.app-btn-wrap {
    display: flex;
    justify-content: center;
    margin: 20px;
}






.app-btn-wrap > img {
    margin: 10px;
}


.social {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.social > ul{
    margin: auto;
}
.social > ul > li {
    display: inline;
    float: center;
    padding: 30px;
}

.social > ul > li > a > img {
    width: 40px;
}






.top-banner {
    width: 100%;
    max-width: 600px;
}
.top-banner > img {
    max-width: 100%;
}

ß


.mobile-container {
    display: inline;
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin-bottom: 50px;
}
.text-container {
    max-width: 45%;
    max-height: 400px;
    float: left;
    padding-left: 50px;
    padding-top: 20px;
    overflow: auto;
    margin-top: 20%;
}
.text-container > p {
    text-align: left;
    font-size: .5rem;
}
.figure-wrapper {
    width: 40%;
    float: right;
}.figure-wrapper > img {
    padding-right: 20%;
    padding-top: 20%;
}




.tour-date-container {
    width: 100%;
    max-width: 600px;
    overflow: auto;
}
.tour-date-container > h2 {
    text-align: center;
    letter-spacing: 10px;
    margin-top: 50px;
}

.tour-column-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}
.tour-column-wrapper ul {
    list-style-type: none;
    margin: 50px;
}
.tour-date-container > img {
    display: block;
    margin: auto;
    padding-bottom: 50px;
    width: 50%;
}









.youtube-music > h2 {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding-bottom: 10%;
    color: green;
}
.youtube-music > iframe {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.bottom-text-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}



.bottom-btn-wrap {
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10%;
}

.bottom-btn-wrap > a > img {
    max-width: 100px;
    margin: 0auto;
}




.vapor-sunset {
    text-align: center;
    width: 100%;
    max-width: 100%;
    max-width: 600px;
}
.vapor-sunset > h2{
    padding-top: 150px;
    color: palevioletred;
    letter-spacing: 10px;
}
.sunset-image-wrap {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}
.sunset-image-wrap > img{
    width: 100%;
    max-width: 600px;
}
.spotify-bottom-button > a > img{
    width: 100%;
    max-width: 40px;
}




