@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(197, 195, 195);
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0px;
}
.banner > h1 {
    color: rgb(0, 255, 255);
    font-family: 'Teko', sans-serif;
    text-align: left;
    padding: 5px 0 5px 10px;
    letter-spacing: 5px;
    font-size: 2rem;
}
.banner > ul {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.banner > ul > li {
    list-style: none;
    display: inline;
    color: gray;
}
.banner > ul > a {
    text-decoration: none;
}
.imagecover {
    width: 100%;
    background-color: rgb(54, 53, 53);
}
.imagecover > img {
    width: 100%;
}
hr {
    border-width: 1px;
    background-color: #fff;
}
.textbanner {
    color: rgb(147, 147, 150);
    text-align: center;
    font-size: .8rem;
    width: 80%;
    margin: 0 auto;
}
.watch-Main {
    background-color: rgb(54, 53, 53);
    width: 100%;
}
.watch-Main > h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.textbox-Watch1 {
    width: 80%;
    margin: 0 auto;
}
